#niroroadmap-settings-body {
	display: grid;
	gap: 30px;
	grid-template-columns: 1fr 3fr;
	max-width: 900px;
}
#niroroadmap-settings-header {
	margin-bottom: 20px;
	border-bottom: 1px solid #ddd;
	padding: 10px 0;
}
#niroroadmap-settings-menus-list > li {
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
	margin: 0;
}
#niroroadmap-settings-menus-list > li.active {
	font-weight: bold;
}
#niroroadmap-settings-submenus-list {
	display: flex;
}
.niroroadmap-settings-section {
	border: 1px solid #ddd;
	padding: 10px;
	border-radius: 6px;
	margin-bottom: 10px;
}
#niroroadmap-settings-header > h2 {
	font-size: 24px;
}
#niroroadmap-settings-content-label > h3 {
	font-size: 20px;
}
#niroroadmap-settings-submenus-list > li {
	border-right: 1px solid #ddd;
	padding: 0 10px;
}
#niroroadmap-settings-submenus-list > li:first-child {
	padding-left: 0px;
}
#niroroadmap-settings-submenus-list > li:last-child {
	border-right: 0px;
}
#niroroadmap-settings-submenus-list > li > a {
	text-decoration: none;
}
#niroroadmap-settings-submenus-list > li.active > a {
	font-weight: bold;
}
#niroroadmap-settings-content-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.niroroadmap-settings-section-heading {
	font-size: 16px;
}
.niroroadmap-field-wrapper {
	padding: 10px 0;
	border-top: 1px solid #ddd;
}
.niroroadmap-field-wrapper label {
	display: inline-block;
	width: 100px;
}